<div class="side-container">

  <div class="side-header">
    <div class="current-user-name">
      <%= link_to current_user.name, edit_user_path(current_user.id) %>
    </div>
    <div class="make-chat">
      <%= link_to "チャットを作成する", new_room_path, class: "chat-button" %>
    </div>
  </div>

  <div class="side-content">
    <% current_user.rooms.each do |room|%>
    <div class="room-box">
      <%= link_to room.name, "#", class: "room-name" %>
    </div>
    <% end %>
  </div>

</div>