<div class="side-container">
  <div class="side-header">
    <div class="current-user-name">
      Tom
    </div>
    <div class="make-chat">
      <a class="chat-button" href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="side-content">
    <div class="room-box">
      <a class="room-name" href=" #">techroom1</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom2</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom3</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom4</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom5</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom6</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom7</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom8</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom9</a>
    </div>
    <div class="room-box">
      <a class="room-name" href=" #">techroom10</a>
    </div>
  </div>
</div>